@model LearnWebsite.Web.Models.Entities.CourseUnit

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>CourseUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InCourseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InCourseOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
